@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}
 /*mobile first*/
@media all {
    body,html{
        background-color: black;
        width: 100vw;
        height: 100vh;
    }

    body{
        background-image: url('/EX015-MEDIAQUERY/imagens/back-phone.jpg');
        background-repeat: no-repeat;   
        background-size: cover;
        background-position: center center;
    }
    main{
        background-color: rgba(240, 248, 255, 0.614);
        width: 90vw;
        margin: auto;
        border-radius: 10px;
        padding:10px;
    }
    h1{
        text-align: center;
        color: black;
        text-shadow: 1px black;
        font-size: 2em;
    }
    img{
        display: block;
        margin: auto;
    }
    img#pc{display: none;}
    img#tablet{ display: none;}
    img#imp{display:none;}
    img#tv{display: none;}
    
}
@media print/*IMPRESSORA*/{
    body{
        background-image: url('/EX015-MEDIAQUERY/imagens/back-print.jpg');
    }
    img#fone{display: none;}
    img#pc{display: none;}
    img#tablet{ display: none;}
    img#imp{display:block;}
    img#tv{display: none;}
} 

@media screen and (min-width: 768px) and (max-width:1024px) /*TABLET*/ {
    body{
        background-image: url('/EX015-MEDIAQUERY/imagens/back-tablet.jpg');
    }
    img#fone{display: none;}
    img#pc{display: none;}
    img#tablet{ display: block;}
    img#imp{display:none;}
    img#tv{display: none;}
}

@media screen and (min-width:800px) and (max-width:1366px) /*LAPTOP*/{
body{
    background-image: url('/EX015-MEDIAQUERY/imagens/back-pc.jpg');  
}
    img#fone{display: none;}
    img#pc{display: block;}
    img#tablet{ display: none;}
    img#imp{display:none;}
    img#tv{display: none;}
}

@media screen and (min-width:1080px)/*GRANDES TELAS*/{
    body{
        background-image: url('/EX015-MEDIAQUERY/imagens/back-tv.jpg');
    }
    img#fone{display: none;}
    img#pc{display: none;}
    img#tablet{ display: none;}
    img#imp{display:none;}
    img#tv{display: block;}

}